@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color: #EDEDED; */
  overflow-x: hidden;
  font-family: 'Poppins' !important;
}

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}